$navbar_colour: #444;
$list_backround_colour: #D1C1C1;
$list_hover_colour: #8B5656;
.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $list_backround_colour;
}

.li {
  float: left;
}

.li a {
  display: block;
  color: $navbar_colour;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.li a:hover {
  background-color: $list_hover_colour;
}
